@page
@model SeminarManagement_PRN221.Pages.IndexModel
@{
    ViewData["Title"] = "Home - Seminar Organization";
}
<section class="bg-dark text-center pt-5">
    <div class="container bg-banner d-flex align-items-center justify-content-center banner-height vw-100 border border-0 rounded-4">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="text-center text-white">
                    <h1 class="mb-3 display-4">Welcome to Our Seminar Organization</h1>
                    <h4 class="mb-4">Join our events and expand your knowledge!</h4>
                    <form class="form-subscribe p-5" id="contactForm" data-sb-form-api-token="API_TOKEN" method="post">
                        <div class="row">
                            <div class="col">
                                <input class="form-control form-control-lg" id="emailAddress" name="email" type="email" placeholder="Enter your email to register" data-sb-validations="required,email" />
                                <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                                <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address is not valid.</div>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-register btn-lg btn-primary" id="submitButton" type="button" onclick="redirectToRegister()">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark text-center pt-5" style="min-height: 100vh;">
    <h1 class="pb-5 text-white">Upcoming Seminars</h1>
    <div class="container">
        @if (Model.FutureEvents.Count == 0)
        {
            <div class="row">
                <div class="col">
                    <h3 class="text-white">Currently, there are no upcoming events.</h3>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                @foreach (var eventItem in Model.FutureEvents.Take(3))
                {
                    <div class="col-sm-4 d-flex align-items-stretch">
                        <div class="card bg-dark text-white shadow-lg p-3 mb-5 w-100 d-flex flex-column">
                            <a href="/EventDetails?EventId=@eventItem.EventId" class="h4 text-decoration-none my-0 font-weight-normal text-white fw-5 flex-grow-1 d-flex flex-column justify-content-between">
                                <div>
                                    <img src="https://img.freepik.com/premium-photo/speaker-giving-talk-scientific-conference-audience-conference-hall-business-entrepreneurship-concept_561846-238.jpg" class="img-fluid mb-3 border rounded-3 border-0" alt="Event Image">
                                    <div class="mt-0 mb-4 text-start">
                                        <div class="d-flex flex-row justify-content-between">
                                            <h4 class="fs-4 mb-4">@eventItem.EventName</h4>
                                            <h5 class="pricing-card-title">
                                                @if (eventItem.Fee > 0)
                                                {
                                                    <span class="badge bg-primary">@eventItem.Fee VND</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-success">FREE</span>
                                                }
                                            </h5>
                                        </div>
                                        <ul class="list-unstyled mt-0 mb-4 text-start text-white fs-6">
                                            <li><i class="bi bi-calendar-minus"></i><span class="text-white mx-2">@eventItem.StartDate?.ToString("dd/MM/yyyy HH:mm")</span></li>
                                            <li><i class="bi bi-geo-alt"></i><span class="text-white mx-2">@eventItem.Hall?.HallName</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>


@section Scripts {
    <script>
        function redirectToRegister() {
            var form = document.getElementById('contactForm');
            form.action = '/Account/Register';
            form.method = 'get';
            form.submit();
        }
    </script>
}
