@page "/AdminDashboard/Index"
@model SeminarManagement_PRN221.Pages.UserRole.AdminDashboard.IndexModel
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin Dashboard</h1>
<h5>You must be signed in to access this resource.</h5>