@page
@model LogoutModel
@{
    ViewData["Title"] = "Logged Out";
}

<section class="vh-100 bg-dark pt-5">
    <div class="text-center text-white">
        <h1>Logged Out</h1>
        <h5>You have successfully signed out.</h5>
        <h6 class="pt-4">See you again!</h6>
    </div>
</section>