@page
@model LogoutModel
@{
    ViewData["Title"] = "Logged Out";
}

<section class="vh-100 bg-dark">
    <div class="text-center text-white">
        <h1>Logged Out</h1>
        <h5>You have successfully signed out.</h5>
    </div>
</section>