@page
@model SeminarManagement_PRN221.Pages.Account.WalletModel
@{
    ViewData["Title"] = "Wallet";
}
<section class="bg-dark pt-5 vh-100">
    <div class="container">
        <div class="row d-flex flex-row justify-content-between">
            <!-- Transaction History Column -->
            <div class="col-md-7 bg-light p-4 rounded">
                <h3 class="text-maingreeen">Transaction History</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var transaction in Model.Transactions)
                        {
                            <tr>
                                <td>@transaction.CreationDate.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                <td>@transaction.DepositAmount</td>
                                <td>@transaction.TransactionStatus</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- Wallet Column -->
            <div class="col-md-4 bg-light p-4 mx-1 rounded">
                <div class="text-center">
                    <h2 class="text-maingreeen">Wallet</h2>
                    <h3 class="mt-4">Balance:</h3>
                    <p class="lead fw-bold text-success">@Model.Wallet.Balance VND</p>
                    <button class="btn btn-button w-100" id="cashInButton">Cash in wallet</button>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script>
        document.getElementById('cashInButton').addEventListener('click', function () {
            window.location.href = '/cash-in';
        });
    </script>
}